.button {
  border: none;
  background: none;
  color: #fff;
  font-family: 'GolosText', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  transition: opacity .3s ease-in-out;
}

.button:hover {
  opacity: .6;
}

.button::after {
  margin-left: 10px;
  content: '';
  background: center / contain no-repeat url('../../images/like-button-inactive.svg');
  vertical-align: middle;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.button_active::after {
  margin-left: 10px;
  content: '';
  background: center / contain no-repeat url('../../images/like-button-active.svg');
  vertical-align: middle;
  height: 20px;
  width: 20px;
  display: inline-block;
}
